In [1]:
import numpy as np
import pandas as pd

ca_meta = pd.read_csv('../ca/ca_meta.csv')
gla_meta = ca_meta[(ca_meta.District == 7) | (ca_meta.District == 8) | (ca_meta.District == 12)]
gla_meta = gla_meta.reset_index()
gla_meta = gla_meta.drop(columns=['index'])
gla_meta.to_csv('gla_meta.csv', index=False)
print(gla_meta[gla_meta.duplicated(subset=['Lat', 'Lng'])])
gla_meta

Empty DataFrame
Columns: [ID, Lat, Lng, District, County, Fwy, Lanes, Type, Direction, ID2]
Index: []

,ID,Lat,Lng,District,County,Fwy,Lanes,Type,Direction,ID2
0,767494,34.103332,-118.249733,7,Los Angeles,SR2-E,3,Mainline,E,3527
1,767509,34.107693,-118.249538,7,Los Angeles,SR2-E,4,Mainline,E,3528
2,767523,34.113959,-118.242956,7,Los Angeles,SR2-E,4,Mainline,E,3529
3,767541,34.116060,-118.238384,7,Los Angeles,SR2-E,4,Mainline,E,3530
4,767554,34.121074,-118.229892,7,Los Angeles,SR2-E,4,Mainline,E,3531
...,...,...,...,...,...,...,...,...,...,...
3829,1202527,33.800970,-118.082822,12,Orange,I605-N,4,Mainline,N,8595
3830,1202549,33.804853,-118.081293,12,Orange,I605-N,4,Mainline,N,8596
3831,1219560,33.799259,-118.084891,12,Orange,I605-S,5,Mainline,S,8597
3832,1202522,33.801040,-118.083136,12,Orange,I605-S,4,Mainline,S,8598
3833,1202537,33.804047,-118.081675,12,Orange,I605-S,4,Mainline,S,8599

In [2]:
gla_meta_id2 = gla_meta.ID2.values.tolist()
print(len(gla_meta_id2))

ca_rn_adj = np.load('../ca/ca_rn_adj.npy')
print(ca_rn_adj.shape)

gla_rn_adj = ca_rn_adj[gla_meta_id2]
gla_rn_adj = gla_rn_adj[:,gla_meta_id2]
print(gla_rn_adj.shape)

np.save('gla_rn_adj.npy', gla_rn_adj)

3834
(8600, 8600)
(3834, 3834)

In [3]:
year = '2019'  # please specify the year, our experiments use 2019

gla_meta.ID = gla_meta.ID.astype(str)
gla_meta_id = gla_meta.ID.values.tolist()

ca_his = pd.read_hdf('../ca/ca_his_' + year +'.h5')
gla_his = ca_his[gla_meta_id]
gla_his

,767494,767509,767523,767541,767554,767572,767620,767455,768202,767470,...,1221523,1221550,1221536,1221556,1219551,1202527,1202549,1219560,1202522,1202537
Time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,24.0,89.0,60.0,63.0,51.0,57.0,106.0,37.0,18.0,49.0,...,102.0,105.0,93.0,76.0,52.0,0.0,0.0,26.0,64.0,58.0
2019-01-01 00:15:00,72.0,173.0,158.0,171.0,140.0,142.0,122.0,73.0,60.0,127.0,...,178.0,166.0,121.0,98.0,137.0,127.0,0.0,56.0,122.0,118.0
2019-01-01 00:30:00,107.0,227.0,235.0,259.0,202.0,214.0,166.0,107.0,99.0,194.0,...,255.0,235.0,186.0,162.0,183.0,167.0,0.0,147.0,149.0,137.0
2019-01-01 00:45:00,97.0,219.0,227.0,250.0,203.0,210.0,173.0,102.0,96.0,196.0,...,270.0,268.0,217.0,180.0,186.0,168.0,0.0,169.0,157.0,154.0
2019-01-01 01:00:00,99.0,231.0,226.0,248.0,190.0,199.0,160.0,98.0,90.0,174.0,...,280.0,281.0,222.0,180.0,141.0,120.0,0.0,175.0,171.0,163.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 22:45:00,62.0,101.0,175.0,194.0,156.0,168.0,135.0,81.0,73.0,132.0,...,260.0,212.0,141.0,144.0,146.0,140.0,135.0,145.0,144.0,132.0
2019-12-31 23:00:00,52.0,81.0,152.0,167.0,131.0,141.0,111.0,62.0,59.0,111.0,...,221.0,192.0,127.0,130.0,130.0,119.0,111.0,48.0,109.0,110.0
2019-12-31 23:15:00,51.0,79.0,141.0,156.0,115.0,125.0,97.0,57.0,50.0,97.0,...,225.0,182.0,115.0,116.0,118.0,115.0,109.0,124.0,125.0,114.0
2019-12-31 23:30:00,45.0,61.0,117.0,132.0,99.0,102.0,82.0,48.0,46.0,86.0,...,196.0,165.0,105.0,108.0,100.0,92.0,87.0,104.0,105.0,95.0
2019-12-31 23:45:00,42.0,59.0,115.0,123.0,91.0,99.0,77.0,46.0,40.0,76.0,...,166.0,124.0,80.0,81.0,76.0,71.0,68.0,24.0,71.0,69.0

In [4]:
gla_his.to_hdf('gla_his_' + year + '.h5', key='t', mode='w')
gla_his.shape

(35040, 3834)

In [5]:
# code for checking adj stat
gla_rn_adj = np.load('gla_rn_adj.npy')
node_num = gla_rn_adj.shape[0]

print(gla_rn_adj[0,0])
gla_rn_adj[np.arange(node_num), np.arange(node_num)] = 0
print(gla_rn_adj[0,0])

print('edge number', np.count_nonzero(gla_rn_adj))
print('node degree', np.mean(np.count_nonzero(gla_rn_adj, axis=-1)))
print('sparsity', np.count_nonzero(gla_rn_adj) / (node_num**2) * 100)

1.0
0.0
edge number 98703
node degree 25.74413145539906
sparsity 0.6714692607042008