In [1]:
import numpy as np
import pandas as pd

ca_meta = pd.read_csv('../ca/ca_meta.csv')
sd_meta = ca_meta[ca_meta.District == 11]
sd_meta = sd_meta.reset_index()
sd_meta = sd_meta.drop(columns=['index'])
sd_meta.to_csv('sd_meta.csv', index=False)
print(sd_meta[sd_meta.duplicated(subset=['Lat', 'Lng'])])
sd_meta

Empty DataFrame
Columns: [ID, Lat, Lng, District, County, Fwy, Lanes, Type, Direction, ID2]
Index: []

,ID,Lat,Lng,District,County,Fwy,Lanes,Type,Direction,ID2
0,1114091,32.544463,-117.032486,11,San Diego,I5-N,6,Mainline,N,6931
1,1118333,32.551690,-117.045725,11,San Diego,I5-N,4,Mainline,N,6932
2,1118348,32.558459,-117.061845,11,San Diego,I5-N,4,Mainline,N,6933
3,1114720,32.561334,-117.067081,11,San Diego,I5-N,4,Mainline,N,6934
4,1118352,32.569052,-117.076507,11,San Diego,I5-N,4,Mainline,N,6935
...,...,...,...,...,...,...,...,...,...,...
711,1123276,32.564373,-116.969279,11,San Diego,I905-W,3,Mainline,W,7642
712,1122394,32.564336,-116.961909,11,San Diego,I905-W,3,Mainline,W,7643
713,1123261,32.564112,-116.950744,11,San Diego,I905-W,3,Mainline,W,7644
714,1123256,32.560935,-116.944559,11,San Diego,I905-W,3,Mainline,W,7645
715,1122412,32.555743,-116.939922,11,San Diego,I905-W,3,Mainline,W,7646

In [2]:
sd_meta_id2 = sd_meta.ID2.values.tolist()
print(len(sd_meta_id2))

ca_rn_adj = np.load('../ca/ca_rn_adj.npy')
print(ca_rn_adj.shape)

sd_rn_adj = ca_rn_adj[sd_meta_id2]
sd_rn_adj = sd_rn_adj[:,sd_meta_id2]
print(sd_rn_adj.shape)

np.save('sd_rn_adj.npy', sd_rn_adj)

716
(8600, 8600)
(716, 716)

In [3]:
year = '2019'  # please specify the year, our experiments use 2019

sd_meta.ID = sd_meta.ID.astype(str)
sd_meta_id = sd_meta.ID.values.tolist()

ca_his = pd.read_hdf('../ca/ca_his_' + year +'.h5')
sd_his = ca_his[sd_meta_id]
sd_his

,1114091,1118333,1118348,1114720,1118352,1118743,1120362,1118796,1118735,1118450,...,1125829,1125348,1125353,1125359,1123287,1123276,1122394,1123261,1123256,1122412
Time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,29.0,23.0,24.0,26.0,22.0,56.0,35.0,44.0,55.0,52.0,...,26.0,30.0,31.0,60.0,17.0,44.0,17.0,13.0,27.0,37.0
2019-01-01 00:15:00,32.0,23.0,21.0,35.0,34.0,103.0,94.0,101.0,104.0,101.0,...,27.0,21.0,22.0,43.0,13.0,39.0,12.0,12.0,26.0,40.0
2019-01-01 00:30:00,40.0,24.0,21.0,31.0,32.0,123.0,107.0,109.0,129.0,119.0,...,23.0,23.0,23.0,49.0,14.0,41.0,15.0,14.0,35.0,43.0
2019-01-01 00:45:00,45.0,27.0,26.0,39.0,37.0,102.0,93.0,103.0,113.0,112.0,...,31.0,27.0,30.0,53.0,21.0,48.0,20.0,19.0,27.0,46.0
2019-01-01 01:00:00,90.0,49.0,43.0,47.0,49.0,120.0,91.0,99.0,100.0,100.0,...,26.0,27.0,28.0,55.0,25.0,49.0,23.0,23.0,36.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 22:45:00,57.0,24.0,28.0,41.0,39.0,103.0,140.0,92.0,109.0,113.0,...,33.0,31.0,31.0,58.0,17.0,43.0,19.0,18.0,33.0,43.0
2019-12-31 23:00:00,59.0,29.0,28.0,42.0,41.0,103.0,128.0,89.0,95.0,99.0,...,32.0,31.0,32.0,61.0,16.0,40.0,15.0,12.0,24.0,38.0
2019-12-31 23:15:00,51.0,23.0,22.0,33.0,31.0,92.0,130.0,89.0,101.0,103.0,...,22.0,23.0,24.0,50.0,16.0,41.0,15.0,13.0,24.0,39.0
2019-12-31 23:30:00,43.0,18.0,22.0,30.0,28.0,86.0,127.0,83.0,86.0,94.0,...,39.0,39.0,41.0,72.0,29.0,54.0,31.0,24.0,49.0,56.0
2019-12-31 23:45:00,50.0,22.0,23.0,26.0,29.0,78.0,110.0,64.0,76.0,75.0,...,39.0,35.0,36.0,65.0,19.0,44.0,18.0,15.0,22.0,37.0

In [4]:
sd_his.to_hdf('sd_his_' + year + '.h5', key='t', mode='w')
sd_his.shape

(35040, 716)

In [5]:
# code for checking adj stat
sd_rn_adj = np.load('sd_rn_adj.npy')
node_num = sd_rn_adj.shape[0]

print(sd_rn_adj[0,0])
sd_rn_adj[np.arange(node_num), np.arange(node_num)] = 0
print(sd_rn_adj[0,0])

print('edge number', np.count_nonzero(sd_rn_adj))
print('node degree', np.mean(np.count_nonzero(sd_rn_adj, axis=-1)))
print('sparsity', np.count_nonzero(sd_rn_adj) / (node_num**2) * 100)

1.0
0.0
edge number 17319
node degree 24.18854748603352
sparsity 3.378288755032614